# -*- coding: utf-8 -*-

include LICENSE
recursive-include invenio_records_draft *.py

recursive-exclude tests *.py
recursive-exclude sample *

exclude .coveragerc
exclude .pydocstyle
exclude pytest.ini
exclude *.yml
exclude run-tests.sh
exclude tests
exclude sample
include *.rst
